engine-strict=true
audit=true
legacy-peer-deps=true
# for custom package from your companies artifactory
@here:registry=https://repo.platform.here.com/artifactory/api/npm/maps-api-for-javascript/
# if you want to override with default
registry=https://registry.npmjs.com/